@import url(href=https://fonts.googleapis.com/css?family=Roboto&display=swap);

body {
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
  
}

.topnav {
  overflow: auto;
  background-color:black;
  position: relative;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: greenyellow;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.topnav-right {
  float: right;
}

.button:hover{
  background-color: green;
  color: black;

}

h1, h2{
  text-align: center;
  text-shadow: 1px 1px 5px black;
}


img {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
 position: relative;
  
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.circle {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.circle p {
  color: white;
  position: relative;
}

.horizontal-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
   }


.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-1 {
  float: left;
  width: 66.33%;
  height: 150px;
  margin-left: 20px;
  font-size: 20px;
 
}

.column-2 {
  float: right;
  width: 33.67%;
  height: 150px;
  font-size: 14px;
  margin-right: 40px;
  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;

  
}

.container {
  display:grid;
  width: 295px;
  height: 150px;
  grid-gap: 10px;
  background-color: rgba(255, 255, 255, 0.747);
  padding: 5px;
  font-size: 16px;
  text-align: center;
  
}

.container-1 {
  display:grid;
  width: 150px;
  height: 150px;
  grid-gap: 10px;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  }

.responsive{
  height:80px ;
  width:160px ;
}

.responsive-1{
  height:100px ;
  width:110px ;
}

.responsive-2{
  height:50px ;
  width:50px ;
}

.responsive-3{
  height:80px ;
  width:80px ;
}

form {
  font-size: 12px;
  border-radius: 5px;
  padding: 14px 20px 14px 30px;
 
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


footer {
  height: 410px;
  width: 92%;
 
  text-align: center;
  padding: 60px;
  
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 0.5fr);
  font-weight: bold;
  font-size: 14px;
  
}


.footer-edu {
  font-size: 24px;
}

hr {
  width: 100%;
  margin-top: 50px;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  
}

.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
  background-color: black;

}

.footer-wrapper-2 {
  
  width: 100%;
  height: 40px;
  font-size: 14px;
  margin-top: 100px;
}

